{% extends 'index.html' %}

{% block body %}
	{% with messages = get_flashed_messages() %}

		{% if messages %}

			{% for message in messages %}

				<p>{{ message }}</p>

			{% endfor %}
			
		{% endif %}

	{% endwith %}

	<form action="/add" method="POST">
		<fieldset>
			<legend>Añadir nuevo contacto</legend>

			<label for="name">Nombre</label>
			<input id="name" name="name" type="text">

			<label for="phone">Telefono</label>
			<input id="phone" name="phone" type="text">

			<label for="email">Correo</label>
			<input id="email" name="email" type="email">

			<button type="submit" name="button">Añadir</button>
		</fieldset>
	</form>

	<p>
		<a href="/">Regresar</a>
	</p>
{% endblock %}
