{% extends 'index.html' %}

{% block body %}

	<h2>{{ contact.name }}</h2>
	<p>Teléfono: {{ contact.phone }}</p>
	<p>Correo: {{ contact.email }}</p>

	<hr>

	<form action="/delete" method="POST">
		<input type="hidden" name="uid" value="{{ contact.key.id() }}">
		<button type="submit">Elimintar</button>
	</form>

	<p>
		<a href="/">Regresar</a>
	</p>

{% endblock %}
