<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Agenga de Contactos</title>
	</head>

	<body>
		<h1>¡Hola, esta es tú agenda de contactos!</h1>
		{% block body %}{% endblock %}
	</body>

</html>
